@font-face {
    font-family: "ProximaNova";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Black'), local('ProximaNova-Black'),
    url("../fonts/ProximaNova-Black.woff2") format("woff2"),
    url("../fonts/ProximaNova-Black.woff") format("woff"),
    url("../fonts/ProximaNova-Black.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Extrabold'), local('ProximaNova-Extrabold'),
    url("../fonts/ProximaNova-Extrabold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Extrabold.woff") format("woff"),
    url("../fonts/ProximaNova-Extrabold.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Bold'), local('ProximaNova-Bold'),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Semibold'), local('ProximaNova-Semibold'),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova-Regular'), local('ProximaNova Regular'),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Roboto'), local('ProximaNova-Roboto'),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("ttf");
}

html {
    box-sizing: border-box;
}

:root {
   /* css - переменные*/
    --black: #000000;
    --light-black: #15141C;
    --medium-blue: #2200E4;
}

.body {
    position: relative;
}

a {
    text-decoration: none;
    outline: none;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body__container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: var(--black);
}

.body__page {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    max-height: 170px;
    background: var(--light-black);
}

.header__content-top {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: block;
    margin-right: 122px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 91px;
}

.navigation__list {
    display: flex;
    gap: 48px;
}

.navigation__link:hover {
    background-color: var(--medium-blue);
}

.navigation__link:active {
    background-color: var(--medium-blue);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 38px;
    list-style-type: none;
    row-gap: 30px;
}

.user__link {
    margin-left: 30px;
}










