@font-face {
    font-family: "ProximaNova";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Black'), local('ProximaNova-Black'),
    url("../fonts/ProximaNova-Black.woff2") format("woff2"),
    url("../fonts/ProximaNova-Black.woff") format("woff"),
    url("../fonts/ProximaNova-Black.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Extrabold'), local('ProximaNova-Extrabold'),
    url("../fonts/ProximaNova-Extrabold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Extrabold.woff") format("woff"),
    url("../fonts/ProximaNova-Extrabold.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Bold'), local('ProximaNova-Bold'),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Semibold'), local('ProximaNova-Semibold'),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.ttf") format("ttf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova-Regular'), local('ProximaNova Regular'),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Roboto'), local('ProximaNova-Roboto'),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("ttf");
}

:root {
    --main-text-color:green;
}

.text__proxima_black {
    color: var(--main-text-color);
    font-family: "ProximaNova", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima_extrabold {
    font-family: "ProximaNova", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima_bold {
    color: var(--main-text-color);
    font-family: "ProximaNova", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima_semibold {
    font-family: "ProximaNova", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima_regular {
    color: var(--main-text-color);
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__roboto_bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__roboto_regular {
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.red {
    color: red;
    font-family: "ProximaNova", sans-serif;
    font-weight: 800;
}


