@font-face {
    font-family: "ProximaNova";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Black'), local('ProximaNova-Black'),
    url("css/fonts/ProximaNova-Black.ttf") format("ttf"),
    url("css/fonts/ProximaNova-Black.woff") format("woff"),
    url("css/fonts/ProximaNova-Black.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Bold'), local('ProximaNova-Bold'),
    url("css/fonts/ProximaNova-Bold.ttf") format("ttf"),
    url("css/fonts/ProximaNova-Bold.woff") format("woff"),
    url("css/fonts/ProximaNova-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova ExtraBld'), local('ProximaNova-ExtraBld'),
    url("css/fonts/ProximaNova-Extrabld.ttf") format("ttf"),
    url("css/fonts/ProximaNova-Extrabld.woff") format("woff"),
    url("css/fonts/ProximaNova-Extrabld.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Regular'), local('ProximaNova-Regular'),
    url("css/fonts/ProximaNova-Regular.ttf") format("ttf"),
    url("css/fonts/ProximaNova-Regular.woff") format("woff"),
    url("css/fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('ProximaNova Semibold'),local('ProximaNova-Semibold'),
    url("css/fonts/ProximaNova-Semibold.ttf") format("ttf"),
    url("css/fonts/ProximaNova-Semibold.woff") format("woff"),
    url("css/fonts/ProximaNova-SemiboldIt.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Bold'),local('Roboto-Bold'),
    url("css/fonts/Roboto-Bold.ttf") format("ttf"),
    url("css/fonts/Roboto-Bold.woff") format("woff"),
    url("css/fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Regular'),local('Roboto-Regular'),
    url("css/fonts/Roboto-Regular.ttf") format("ttf"),
    url("css/fonts/Roboto-Regular.woff") format("woff"),
    url("css/fonts/Roboto-Regular.woff2") format("woff2");
}

:root{
    --main-text-color:green;
}

.text__proxima-black{
    color: var(--main-text-color);
    font-family: "ProximaNova", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima-bold{
    font-family: "ProximaNova", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima-extra-bold{
    color: var(--main-text-color);
    font-family: "ProximaNova", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima-regular{
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__proxima-semi-bold{
    color: var(--main-text-color);
    font-family: "ProximaNova", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__roboto-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.text__roboto-regular{
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}























.red {
    color: red;
    font-family: "ProximaNova", sans-serif;
    font-weight: 800;
}